.contracts
    .container
        .contracts__header
            .contracts__panel
                a(href="#").contracts__remove
                    .contracts__remove-icon
                    | Удалить

            .button.contracts__button
                | Добавить сотрудника
                .contracts__button-icon
                    img(src="src/blocks/contracts/assets/img/person.svg")

        .contracts__wrapper
            .contracts__block
                .contracts__named.contracts__named--staff
                    .contracts__fullname
                        .contracts__overhead ФИО
                    .contracts__position
                        .contracts__overhead Должность
                    .contracts__rate
                        .contracts__overhead Ставка

                .contracts__row
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__fullname
                        .contracts__text Шахбазян Денис Арменович
                    .contracts__position
                        .contracts__text Монтажник
                    .contracts__rate
                        .contracts__text 320

                .contracts__row.contracts__row--grey.contracts__row--active
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox" checked).contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__fullname
                        .contracts__text Иванов Иван Иванович
                    .contracts__position
                        .contracts__text Монтажник
                    .contracts__rate
                        .contracts__text 320
                .contracts__row
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__fullname
                        .contracts__text Петров Андрей Владимирович
                    .contracts__position
                        .contracts__text Бухгалтер
                    .contracts__rate
                        .contracts__text 400
                .contracts__row.contracts__row--grey
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__fullname
                        .contracts__text Петров Андрей Владимирович
                    .contracts__position
                        .contracts__text Бухгалтер
                    .contracts__rate
                        .contracts__text 400
                .contracts__row
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__fullname
                        .contracts__text Петров Андрей Владимирович
                    .contracts__position
                        .contracts__text Бухгалтер
                    .contracts__rate
                        .contracts__text 400
                .contracts__row.contracts__row--grey
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__fullname
                        .contracts__text Петров Андрей Владимирович
                    .contracts__position
                        .contracts__text Бухгалтер
                    .contracts__rate
                        .contracts__text 400
                .contracts__row
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__fullname
                        .contracts__text Петров Андрей Владимирович
                    .contracts__position
                        .contracts__text Бухгалтер
                    .contracts__rate
                        .contracts__text 400
                .contracts__row.contracts__row--grey
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__fullname
                        .contracts__text Шахбазян Денис Арменович
                    .contracts__position
                        .contracts__text Генеральный директор
                    .contracts__rate
                        .contracts__text 1500
                .contracts__row
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__fullname
                        .contracts__text Петров Андрей Владимирович
                    .contracts__position
                        .contracts__text Сварщик
                    .contracts__rate
                        .contracts__text 400
                .contracts__row.contracts__row--grey
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__fullname
                        .contracts__text Горохов Вадим Дмитриевич
                    .contracts__position
                        .contracts__text Сварщик
                    .contracts__rate
                        .contracts__text 400





        a(href="#").button.button__more.contracts__button-more Показать еще 10
        include ../pagination/pagination



