.contracts
    .container

        .contracts__header
            .contracts__panel
                a(href="#").contracts__remove
                    .contracts__remove-icon
                    | Удалить
                .contracts__checkbox
                    input(type="checkbox").contracts__input
                    .contracts__square
                    | Видит только суперадмин

            .button.contracts__button
                | Создать контракт
                .contracts__button-icon
                    img(src="src/blocks/contracts/assets/img/contract.svg")

        .contracts__wrapper
            .contracts__block
                .contracts__named
                    .contracts__customer
                        .contracts__overhead Заказчик
                    .contracts__number
                        .contracts__overhead # Контракта
                    .contracts__date
                        .contracts__overhead Дата
                    .contracts__total
                        .contracts__overhead Итого:
                    .contracts__client
                        .contracts__overhead Ответственный заказчик
                    .contracts__file
                        .contracts__overhead Файлы


                .contracts__row
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__customer
                        .contracts__text Вимм Билль Данн
                    .contracts__number
                        .contracts__text №1235789123
                    .contracts__date
                        .contracts__text 18.01.2020г
                    .contracts__total
                        .contracts__text 1 250 963 руб
                    .contracts__client
                        .contracts__text Михайлов Денис Владимирович
                    .contracts__file
                        .contracts__text 12
                        .contracts__file-icon
                            img(src="src/blocks/contracts/assets/img/file.svg")
                .contracts__row.contracts__row--active
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox" checked).contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__customer
                        .contracts__text Вимм Билль Данн
                    .contracts__number
                        .contracts__text №1235789123
                    .contracts__date
                        .contracts__text 18.01.2020г
                    .contracts__total
                        .contracts__text 1 250 963 руб
                    .contracts__client
                        .contracts__text Михайлов Денис Владимирович
                    .contracts__file
                        .contracts__text 12
                        .contracts__file-icon
                            img(src="src/blocks/contracts/assets/img/file.svg")
                .contracts__row
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__customer
                        .contracts__text Вимм Билль Данн
                    .contracts__number
                        .contracts__text №1235789123
                    .contracts__date
                        .contracts__text 18.01.2020г
                    .contracts__total
                        .contracts__text 1 250 963 руб
                    .contracts__client
                        .contracts__text Михайлов Денис Владимирович
                    .contracts__file
                        .contracts__text 12
                        .contracts__file-icon
                            img(src="src/blocks/contracts/assets/img/file.svg")
                .contracts__row.contracts__row--grey
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__customer
                        .contracts__text Вимм Билль Данн
                    .contracts__number
                        .contracts__text №1235789123
                    .contracts__date
                        .contracts__text 18.01.2020г
                    .contracts__total
                        .contracts__text 1 250 963 руб
                    .contracts__client
                        .contracts__text Михайлов Денис Владимирович
                    .contracts__file
                        .contracts__text 12
                        .contracts__file-icon
                            img(src="src/blocks/contracts/assets/img/file.svg")
                .contracts__row
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__customer
                        .contracts__text Вимм Билль Данн
                    .contracts__number
                        .contracts__text №1235789123
                    .contracts__date
                        .contracts__text 18.01.2020г
                    .contracts__total
                        .contracts__text 1 250 963 руб
                    .contracts__client
                        .contracts__text Михайлов Денис Владимирович
                    .contracts__file
                        .contracts__text 12
                        .contracts__file-icon
                            img(src="src/blocks/contracts/assets/img/file.svg")
                .contracts__row.contracts__row--grey
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__customer
                        .contracts__text Вимм Билль Данн
                    .contracts__number
                        .contracts__text №1235789123
                    .contracts__date
                        .contracts__text 18.01.2020г
                    .contracts__total
                        .contracts__text 1 250 963 руб
                    .contracts__client
                        .contracts__text Михайлов Денис Владимирович
                    .contracts__file
                        .contracts__text 12
                        .contracts__file-icon
                            img(src="src/blocks/contracts/assets/img/file.svg")
                .contracts__row
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__customer
                        .contracts__text Вимм Билль Данн
                    .contracts__number
                        .contracts__text №1235789123
                    .contracts__date
                        .contracts__text 18.01.2020г
                    .contracts__total
                        .contracts__text 1 250 963 руб
                    .contracts__client
                        .contracts__text Михайлов Денис Владимирович
                    .contracts__file
                        .contracts__text 12
                        .contracts__file-icon
                            img(src="src/blocks/contracts/assets/img/file.svg")
                .contracts__row.contracts__row--grey
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__customer
                        .contracts__text Вимм Билль Данн
                    .contracts__number
                        .contracts__text №1235789123
                    .contracts__date
                        .contracts__text 18.01.2020г
                    .contracts__total
                        .contracts__text 1 250 963 руб
                    .contracts__client
                        .contracts__text Михайлов Денис Владимирович
                    .contracts__file
                        .contracts__text 12
                        .contracts__file-icon
                            img(src="src/blocks/contracts/assets/img/file.svg")
                .contracts__row
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__customer
                        .contracts__text Вимм Билль Данн
                    .contracts__number
                        .contracts__text №1235789123
                    .contracts__date
                        .contracts__text 18.01.2020г
                    .contracts__total
                        .contracts__text 1 250 963 руб
                    .contracts__client
                        .contracts__text Михайлов Денис Владимирович
                    .contracts__file
                        .contracts__text 12
                        .contracts__file-icon
                            img(src="src/blocks/contracts/assets/img/file.svg")
                .contracts__row.contracts__row--grey
                    .contracts__checkbox.contracts__checkbox-table
                        input(type="checkbox").contracts__input
                        .contracts__square
                    .contracts__edit
                    .contracts__customer
                        .contracts__text Вимм Билль Данн
                    .contracts__number
                        .contracts__text №1235789123
                    .contracts__date
                        .contracts__text 18.01.2020г
                    .contracts__total
                        .contracts__text 1 250 963 руб
                    .contracts__client
                        .contracts__text Михайлов Денис Владимирович
                    .contracts__file
                        .contracts__text 12
                        .contracts__file-icon
                            img(src="src/blocks/contracts/assets/img/file.svg")

        a(href="#").button.button__more.contracts__button-more Показать еще 10
        include ../pagination/pagination



