.modal.modal-apartments
    .modal__content
        .modal__close
            img(src="src/blocks/modal/assets/img/close.svg")
        .modal__apartments-box
            .modal__header.modal__header--apartments Генерала Ермолова ул, 12
            .modal__apartments-inner
                .modal__apartments-overhead
                    .modal__apartments-name.modal__apartments-name--pb
                        .modal__text Проживают (ли) в квартире:
                    .modal__apartments-arrival
                        .modal__text Прибытие
                    .modal__apartments-departure
                        .modal__text Выезд
                .modal__apartments-row
                    .modal__apartments-name
                        .modal__text.modal__text--hidden Проживают (ли) в квартире:
                        .modal__text.modal__text--bold 1.Вимм Билль Данн
                    .modal__apartments-arrival
                        .modal__text.modal__text--hidden Прибытие
                        .modal__text 18. 08. 2020
                    .modal__apartments-departure
                        .modal__text.modal__text--hidden Выезд
                        .modal__text 19. 09. 2020
                .modal__apartments-row
                    .modal__apartments-name
                        .modal__text.modal__text--hidden Проживают (ли) в квартире:
                        .modal__text.modal__text--bold 2.Вимм Билль Данн
                    .modal__apartments-arrival
                        .modal__text.modal__text--hidden Прибытие
                        .modal__text 18. 08. 2020
                    .modal__apartments-departure
                        .modal__text.modal__text--hidden Выезд
                        .modal__text 19. 09. 2020
                .modal__apartments-row
                    .modal__apartments-name
                        .modal__text.modal__text--hidden Проживают (ли) в квартире:
                        .modal__text.modal__text--bold 3.Вимм Билль Данн
                    .modal__apartments-arrival
                        .modal__text.modal__text--hidden Прибытие
                        .modal__text 18. 08. 2020
                    .modal__apartments-departure
                        .modal__text.modal__text--hidden Выезд
                        .modal__text 19. 09. 2020
