.modals
    .container
        a(href="#").modal__sign-button Войти
        include ../modal/modal_sign-in

        <br>

        a(href="#").modal__reset-button Восстановить
            include ../modal/modal_reset

        <br>

            a(href="#").modal__contract-edit Редактировать контракт
                include ../modal/modal_edit-contract

        <br>

        a(href="#").modal__contract-button Контракт
            include ../modal/modal_contract

        <br>

        a(href="#").modal__table-button Редактирование таблицы
            include ../modal/modal_edit-table

        <br>

        a(href="#").modal__employee-button Добавить сотрудника
            include ../modal/modal_employee

        <br>


        a(href="#").modal__employee-card-button Карточка сотрудника
            include ../modal/modal_employee-card

        <br>


        a(href="#").modal__subtract Вычитать
            include ../modal/modal_subtract

        <br>


        a(href="#").modal__prize Премия
            include ../modal/modal_prize

        <br>


        a(href="#").modal__editing Редактирование
            include ../modal/modal_editing


        <br>


        a(href="#").modal__apartments Квартира
            include ../modal/modal_apartments


        <br>


        a(href="#").modal__flat Добавить квартиру
            include ../modal/modal_flat

        <br>


        a(href="#").modal__consumption-show Добавить расход
            include ../modal/modal_consumption

        <br>

        a(href="#").calendar__show Редактировать яйчейку
            include ../modal/modal_calendar-cell

        <br>

        a(href="#").modal__show-comment Показать комментарий
            include ../modal/modal_show-comment

