.calendar
    .calendar__buttons
        a(href="#").button.calendar__button
            .calendar__button-icon.calendar__button-icon--plus
            | Премия
        a(href="#").button.calendar__button.calendar__button--opacity
            .calendar__button-icon.calendar__button-icon--plus
            | Выплата


    .calendar__trip
        .calendar__title.calendar__trip-title Командировочные

        form.calendar__trip-form
            .calendar__trip-box
                .calendar__select-box
                    select.calendar__trip-select
                        option(disabled selected) Название проекта
                        option Название проекта 2
                input(type="number" step="0.1" min="0.1").calendar__trip-input.js-valid-area
            button.button.calendar__trip-btn.js-trip-save Отправить

    .date-items.calendar__date-items
        .date-items__dates
            .button.date-items__item Август
            .button.date-items__item Сентябрь
            .button.date-items__item Октябрь

        .date-items__separator ,
        .date-items__dates
            .button.date-items__item 2020

    .calendar__panel
        .calendar__title Табель
        .calendar__dates
            .calendar__date-box
                .calendar__date-text От:
                .calendar__date-selector
                    input(type="text").calendar__date-input.js-datepicker-year
            .calendar__date-box
                .calendar__date-text До:
                .calendar__date-selector
                    input(type="text").calendar__date-input.js-datepicker-year
    .calendar__tab
        .calendar__overhead
            .calendar__overhead-text 1
            .calendar__overhead-text 2
            .calendar__overhead-text 3
            .calendar__overhead-text 4
            .calendar__overhead-text 5
            .calendar__overhead-text 6
            .calendar__overhead-text 7
            .calendar__overhead-text 8
            .calendar__overhead-text 9
            .calendar__overhead-text 10
            .calendar__overhead-text 11
            .calendar__overhead-text 12
            .calendar__overhead-text 13
            .calendar__overhead-text 14
            .calendar__overhead-text 15
            .calendar__overhead-text 16
            .calendar__overhead-text 17
            .calendar__overhead-text 18
            .calendar__overhead-text 19
            .calendar__overhead-text 20
            .calendar__overhead-text 21
            .calendar__overhead-text 22
            .calendar__overhead-text 23
            .calendar__overhead-text 24
            .calendar__overhead-text 25
            .calendar__overhead-text 26
            .calendar__overhead-text 27
            .calendar__overhead-text 28
            .calendar__overhead-text 29
            .calendar__overhead-text 30
            .calendar__overhead-text.calendar__overhead-text--hours Часы
            .calendar__overhead-text.calendar__overhead-text--days Дни
            .calendar__overhead-text.calendar__overhead-text--business Командировочные

        .calendar__contract
            .calendar__contract-title Название контракта
            .calendar__row
                .calendar__cell
                .calendar__cell.calendar__comment.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell.calendar__cell--hours
                    .calendar__cell-text 50
                .calendar__cell.calendar__cell--days
                    .calendar__cell-text 5
                .calendar__cell.calendar__cell--business
                    .calendar__cell-text 3000,00
        .calendar__contract
            .calendar__contract-title Название контракта
            .calendar__row
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell.calendar__cell--hours
                    .calendar__cell-text 50
                .calendar__cell.calendar__cell--days
                    .calendar__cell-text 5
                .calendar__cell.calendar__cell--business
                    .calendar__cell-text 3000,00
        .calendar__contract
            .calendar__contract-title Название контракта
            .calendar__row
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell.calendar__cell--filled
                    .calendar__cell-text 10
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell
                .calendar__cell.calendar__cell--hours
                    .calendar__cell-text 50
                .calendar__cell.calendar__cell--days
                    .calendar__cell-text 5
                .calendar__cell.calendar__cell--business
                    .calendar__cell-text 3000,00

    .calendar__title.calendar__history-title История
    .calendar__history-row
        .calendar__history-text Вимм Билль Данн
        .calendar__history-text Премия
        .calendar__history-text 18.01.2020г
        .calendar__history-text +5000 руб.
    .calendar__history-row.calendar__history-row--blue
        .calendar__history-text Вимм Билль Данн
        .calendar__history-text Премия
        .calendar__history-text 18.01.2020г
        .calendar__history-text +5000 руб.
    .calendar__history-row
        .calendar__history-text Вимм Билль Данн
        .calendar__history-text Премия
        .calendar__history-text 18.01.2020г
        .calendar__history-text +5000 руб.
    .calendar__history-row.calendar__history-row--blue
        .calendar__history-text Вимм Билль Данн
        .calendar__history-text Премия
        .calendar__history-text 18.01.2020г
        .calendar__history-text +5000 руб.