.modal.modal-show-comment
    .modal__content
        .modal__close
            img(src="src/blocks/modal/assets/img/close.svg")
        .modal__edit-table
            .modal__header Комментарий:
            .modal__editing-inner
                .modal__comment-text Комментарий текст 1 2 3 Комментарий текст 1 2 3Комментарий текст 1 2 3Комментарий текст 1 2 3Комментарий текст 1 2 3Комментарий текст 1 2 3Комментарий текст 1 2 3Комментарий текст 1 2 3Комментарий текст 1 2 3Комментарий текст 1 2 3Комментарий текст 1 2 3Комментарий текст 1 2 3

