
.user-panel
    .container
        .user-panel__inner
            .user-panel__choice
                .user-panel__title Квартиры


            .user-panel__select-container
                .user-panel__box
                    .user-panel__input-box.user-panel__input-box--search-big
                        input(type="text" placeholder="Введите адрес").user-panel__input
                        .user-panel__input-icon
                            img(src="src/blocks/user-panel/assets/img/search.svg")

                button.button.user-panel__search Поиск


