.user-panel
    .container
        .user-panel__inner
            .user-panel__title Заметки

.notes
    .container
        button.button.notes__add-btn Добавить
        .notes__grid#outputNotes
            .notes__item
                .notes__box
                    textarea(placeholder="Введите текст").notes__text Многострочный текст Многострочный текст  Многострочный текст 31321312312312312312312321 1
                    .notes__bottom
                        .notes__date Создано: <span>12/04/2015</span>
                        .notes__date Отредактировано: <span>12/04/2015</span>
                .notes__icons
                    .notes__close


            .notes__item
                .notes__box
                    textarea(placeholder="Введите текст").notes__text Многострочный текст Многострочный текст  Многострочный текст 31321312312312312312312321 2
                    .notes__bottom
                        .notes__date Создано: 12/04/2015
                        .notes__date Отредактировано: 12/04/2015
                .notes__icons
                    .notes__close

            .notes__item
                .notes__box
                    textarea(placeholder="Введите текст").notes__text Многострочный текст Многострочный текст  Многострочный текст 31321312312312312312312321 3
                    .notes__bottom
                        .notes__date Создано: 12/04/2015
                        .notes__date Отредактировано: 12/04/2015
                .notes__icons
                    .notes__close
