footer.footer
    .container
        .footer__inner
            .footer__rights
                .footer__text © 2020
            .footer__nav
                a(href="#").footer__link Главная
                a(href="#").footer__link Контракты
                a(href="#").footer__link Персонал
                a(href="#").footer__link Табель
                a(href="#").footer__link Другое
            a(href="#").footer__support
                .footer__support-icon
                | Служба поддержки