.pagination
    a(href="#").pagination__link.pagination__link--active 1
    a(href="#").pagination__link 2
    a(href="#").pagination__link 3
    a(href="#").pagination__link 4
    a(href="#").pagination__link 5
    a(href="#").pagination__link 6
    a(href="#").pagination__link 7
    a(href="#").pagination__link 8
    a(href="#").pagination__link . . .
    a(href="#").pagination__link 11