.timesheet
    .container
        .date-items
            .date-items__dates
                .button.date-items__item Август
                .button.date-items__item Сентябрь
                .button.date-items__item Октябрь

            .date-items__separator ,
            .date-items__dates
                .button.date-items__item 2020


        .timesheet__wrapper
            .timesheet__scroll
                .timesheet__header
                    .timesheet__number
                        .timesheet__text №
                    .timesheet__fullname
                        .timesheet__text.timesheet__text--name ФИО
                    .timesheet__rate
                        .timesheet__text Ставка
                    .timesheet__position
                        .timesheet__text 1
                    .timesheet__position
                        .timesheet__text 2
                    .timesheet__position
                        .timesheet__text 3
                    .timesheet__position
                        .timesheet__text 4
                    .timesheet__position
                        .timesheet__text 5
                    .timesheet__position
                        .timesheet__text 6
                    .timesheet__position
                        .timesheet__text 7
                    .timesheet__position
                        .timesheet__text 8
                    .timesheet__position
                        .timesheet__text 9
                    .timesheet__position
                        .timesheet__text 10
                    .timesheet__position
                        .timesheet__text 11
                    .timesheet__position
                        .timesheet__text 12
                    .timesheet__position
                        .timesheet__text 13
                    .timesheet__position
                        .timesheet__text 14
                    .timesheet__position
                        .timesheet__text 15
                    .timesheet__position
                        .timesheet__text 16
                    .timesheet__position
                        .timesheet__text 17
                    .timesheet__position
                        .timesheet__text 18
                    .timesheet__position
                        .timesheet__text 19
                    .timesheet__position
                        .timesheet__text 20
                    .timesheet__position
                        .timesheet__text 21
                    .timesheet__position
                        .timesheet__text 22
                    .timesheet__position
                        .timesheet__text 23
                    .timesheet__position
                        .timesheet__text 24
                    .timesheet__position
                        .timesheet__text 25
                    .timesheet__position
                        .timesheet__text 26
                    .timesheet__position
                        .timesheet__text 27
                    .timesheet__position
                        .timesheet__text 28
                    .timesheet__position
                        .timesheet__text 29
                    .timesheet__position
                        .timesheet__text 30
                    .timesheet__hours
                        .timesheet__text Часы
                    .timeheet__days
                        .timesheet__text.timesheet__text--days Дни
                    .timesheet__business
                        .timesheet__text Командировочные




                // row 1

                .timesheet__row
                    .timesheet__number
                        .timesheet__cell
                            .timesheet__table-text 1
                    a(href="#").timesheet__fullname
                        .timesheet__cell.timesheet__cell--name
                            .timesheet__table-text Самсонов А.А
                    .timesheet__rate
                        .timesheet__cell
                            .timesheet__table-text 350
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__hours
                        .timesheet__cell
                            .timesheet__table-text 50
                    .timesheet__days
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__business
                        .timesheet__cell
                            .timesheet__table-text 3000,00


                // row 2

                .timesheet__row
                    .timesheet__number
                        .timesheet__cell
                            .timesheet__table-text 2
                    .timesheet__fullname
                        .timesheet__cell.timesheet__cell--name
                            .timesheet__table-text Гаврилов А.А
                    .timesheet__rate
                        .timesheet__cell
                            .timesheet__table-text 350
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__hours
                        .timesheet__cell
                            .timesheet__table-text 50
                    .timesheet__days
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__business
                        .timesheet__cell
                            .timesheet__table-text 3000,00

                //row 3

                .timesheet__row
                    .timesheet__number
                        .timesheet__cell
                            .timesheet__table-text 3
                    .timesheet__fullname
                        .timesheet__cell.timesheet__cell--name
                            .timesheet__table-text Самсонов А.А
                    .timesheet__rate
                        .timesheet__cell
                            .timesheet__table-text 350
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__hours
                        .timesheet__cell
                            .timesheet__table-text 50
                    .timesheet__days
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__business
                        .timesheet__cell
                            .timesheet__table-text 3000,00


                // row 4

                .timesheet__row
                    .timesheet__number
                        .timesheet__cell
                            .timesheet__table-text 4
                    .timesheet__fullname
                        .timesheet__cell.timesheet__cell--name
                            .timesheet__table-text Гаврилов А.А
                    .timesheet__rate
                        .timesheet__cell
                            .timesheet__table-text 350
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__hours
                        .timesheet__cell
                            .timesheet__table-text 50
                    .timesheet__days
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__business
                        .timesheet__cell
                            .timesheet__table-text 0,00


                //row 5

                .timesheet__row
                    .timesheet__number
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__fullname
                        .timesheet__cell.timesheet__cell--name
                            .timesheet__table-text Самсонов А.А
                    .timesheet__rate
                        .timesheet__cell
                            .timesheet__table-text 350
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__hours
                        .timesheet__cell
                            .timesheet__table-text 50
                    .timesheet__days
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__business
                        .timesheet__cell
                            .timesheet__table-text 3000,00

                //row 6

                .timesheet__row
                    .timesheet__number
                        .timesheet__cell
                            .timesheet__table-text 6
                    .timesheet__fullname
                        .timesheet__cell.timesheet__cell--name
                            .timesheet__table-text Гаврилов А.А
                    .timesheet__rate
                        .timesheet__cell
                            .timesheet__table-text 350
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__hours
                        .timesheet__cell
                            .timesheet__table-text 50
                    .timesheet__days
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__business
                        .timesheet__cell
                            .timesheet__table-text 3000,00


                //row 7

                .timesheet__row
                    .timesheet__number
                        .timesheet__cell
                            .timesheet__table-text 7
                    .timesheet__fullname
                        .timesheet__cell.timesheet__cell--name
                            .timesheet__table-text Самсонов А.А
                    .timesheet__rate
                        .timesheet__cell
                            .timesheet__table-text 350
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__hours
                        .timesheet__cell
                            .timesheet__table-text 50
                    .timesheet__days
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__business
                        .timesheet__cell
                            .timesheet__table-text 3000,00


                //row 8

                .timesheet__row
                    .timesheet__number
                        .timesheet__cell
                            .timesheet__table-text 8
                    .timesheet__fullname
                        .timesheet__cell.timesheet__cell--name
                            .timesheet__table-text Гаврилов А.А
                    .timesheet__rate
                        .timesheet__cell
                            .timesheet__table-text 350
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__hours
                        .timesheet__cell
                            .timesheet__table-text 50
                    .timesheet__days
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__business
                        .timesheet__cell
                            .timesheet__table-text 3000,00


                //row 9

                .timesheet__row
                    .timesheet__number
                        .timesheet__cell
                            .timesheet__table-text 9
                    .timesheet__fullname
                        .timesheet__cell.timesheet__cell--name
                            .timesheet__table-text Самсонов А.А
                    .timesheet__rate
                        .timesheet__cell
                            .timesheet__table-text 350
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__hours
                        .timesheet__cell
                            .timesheet__table-text 50
                    .timesheet__days
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__business
                        .timesheet__cell
                            .timesheet__table-text 3000,00


                //row 10

                .timesheet__row
                    .timesheet__number
                        .timesheet__cell
                            .timesheet__table-text 10
                    .timesheet__fullname
                        .timesheet__cell.timesheet__cell--name
                            .timesheet__table-text Гаврилов А.А
                    .timesheet__rate
                        .timesheet__cell
                            .timesheet__table-text 350
                    .timesheet__position
                        .timesheet__cell.timesheet__comment-cell
                            .timesheet__table-text
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--active
                            .timesheet__table-text 10
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell.timesheet__cell--disabled
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__position
                        .timesheet__cell
                    .timesheet__hours
                        .timesheet__cell
                            .timesheet__table-text 50
                    .timesheet__days
                        .timesheet__cell
                            .timesheet__table-text 5
                    .timesheet__business
                        .timesheet__cell
                            .timesheet__table-text 3000,00

        .timesheet__info
            .timesheet__info-block
                .timesheet__info-text.timesheet__info-text--mr ИТР
                .timesheet__info-text Рабочие

        .timesheet__total
            .timesheet__info-text.timesheet__info-text--mr Итого
            .timesheet__total-text  5654645
            .timesheet__total-text  5654645