.user-panel
    .container
        .user-panel__inner.user-panel__inner--start
            .user-panel__choice
                .user-panel__title Табель
            .user-panel__select-box
                .user-panel__output-label Выводить по:
                .user-panel__sort-box.user-panel__sort-box-page.user-panel__sort-mounths
                    select.user-panel__sort.user-panel__sort-page
                        option за месяц
                        option за 3 месяца
                        option за 6 месяцев
                        option за год
                        option за все время

        //    .user-panel__selected.user-panel__selected--direction
        //
        //        .user-panel__select-box.user-panel__select-box--mb

        //            .user-panel__output-label ФИО заказчика:
        //            .user-panel__input-box.user-panel__input-box--search-small
        //                input(type="text" placeholder="Фамилия").user-panel__input
        //                .user-panel__input-icon
        //                    img(src="src/blocks/user-panel/assets/img/search.svg")
        //
        //            .user-panel__input-box.user-panel__input-box--search-small
        //                input(type="text" placeholder="Имя").user-panel__input
        //                .user-panel__input-icon
        //                    img(src="src/blocks/user-panel/assets/img/search.svg")
        //            .user-panel__input-box.user-panel__input-box--search-small.user-panel__input-box--mb-none
        //                input(type="text" placeholder="Отчество").user-panel__input
        //                .user-panel__input-icon
        //                    img(src="src/blocks/user-panel/assets/img/search.svg")
        //
        //        .user-panel__select-box
        //            .user-panel__output-label ФИО инженера:
        //            .user-panel__input-box.user-panel__input-box--search-small
        //                input(type="text" placeholder="Фамилия").user-panel__input
        //                .user-panel__input-icon
        //                    img(src="src/blocks/user-panel/assets/img/search.svg")
        //
        //            .user-panel__input-box.user-panel__input-box--search-small
        //                input(type="text" placeholder="Имя").user-panel__input
        //                .user-panel__input-icon
        //                    img(src="src/blocks/user-panel/assets/img/search.svg")
        //            .user-panel__input-box.user-panel__input-box--search-small.user-panel__input-box--mb-none
        //                input(type="text" placeholder="Отчество").user-panel__input
        //                .user-panel__input-icon
        //                    img(src="src/blocks/user-panel/assets/img/search.svg")
        //
        //
        //.user-panel__panel-container
        //    .user-panel__sort-box.user-panel__sort-box-date.user-panel__sort-box-date--mr
        //        .user-panel__output-label По дате:
        //        .user-panel__date-contracts
        //            input(type="text" placeholder="от").user-panel__input.user-panel__input-date.js-date
        //            input(type="text" placeholder="до").user-panel__input.user-panel__input-date.js-date
        //
        //    .user-panel__select-box
        //        .user-panel__output-label Должность
        //        .user-panel__select.user-panel__sort-box
        //            select.js-user-position
        //                option Должность 1
        //                option Должность 2
        //                option Должность 3
        //

