.user-panel
    .container
        .user-panel__inner
            .user-panel__title Дашборд

            .user-panel__select-container

                .user-panel__input-box
                    input(type="text" placeholder="Я ищу").user-panel__input
                    .user-panel__input-icon
                        img(src="src/blocks/user-panel/assets/img/search.svg")

                .user-panel__sort-box.user-panel__sort-box-date
                    select.user-panel__sort.user-panel__sort-date
                        option По дате
                        option 123
                        option 123