.main
    .container
        .main__inner
            .main__item
                .main__text.main__text--mb Количество сотрудников
                .main__information.main__information--border
                    .main__information-icon
                        img(src="src/blocks/main/assets/img/person.svg")
                    .main__information-text 52
                .main__box
                    .main__information-small
                        .main__information-icon.main__information-icon--center
                            img(src="src/blocks/main/assets/img/map.svg")
                        .main__text.main__text--center В объектах
                        .main__information-text-small 25
                    .main__information-small
                        .main__information-icon.main__information-icon--center
                            img(src="src/blocks/main/assets/img/office.svg")
                        .main__text.main__text--center В офисе
                        .main__information-text-small 25

            .main__item
                .main__text.main__text--mb Количество сотрудников
                .main__information
                    .main__information-icon
                        img(src="src/blocks/main/assets/img/person.svg")
                    .main__information-text.main__information-text--row
                        | 52
                        .main__information-amount 1 000 000 руб.

                .main__text.main__text--mb-small Коммерческие предложения
                .main__information
                    .main__information-icon
                        img(src="src/blocks/main/assets/img/commercial.svg")
                    .main__information-text.main__information-text--row
                        | 52
                        .main__information-amount 1 000 000 руб.

            .main__item
                .main__text.main__text--mb Перерасход
                .main__information
                    .main__information-icon
                        img(src="src/blocks/main/assets/img/wallet.svg")
                    .main__information-text 50000 руб.

                .main__text.main__text--mb-small Перерасход
                .main__information
                    .main__information-icon
                        img(src="src/blocks/main/assets/img/connection.svg")
                    .main__information-text 2

