.user-panel
    .container
        .user-panel__inner
            .user-panel__title Уведомления
.notifications
    .container
        .notifications__inner
            .notifications__item
                .notifications__close
                .notifications__header
                    .notifications__title Заголовок уведомления
                    .notifications__date 01/10/2020
                textarea(disabled).notifications__text Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления

            .notifications__item
                .notifications__close
                .notifications__header
                    .notifications__title Заголовок уведомления
                    .notifications__date 01/10/2020
                textarea(disabled).notifications__text Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления

            .notifications__item
                .notifications__close
                .notifications__header
                    .notifications__title Заголовок уведомления
                    .notifications__date 01/10/2020
                textarea(disabled).notifications__text Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления Многострочный текст уведомления

        button.button.notifications__button-load Загрузить еще

