.commercial-offer
    .container
        .commercial-offer__inner
            .commercial-offer__container
                .commercial-offer__item
                    .commercial-offer__label Название проекта
                    input(type="text" maxlength="50").commercial-offer__input
                .commercial-offer__item
                    .commercial-offer__label Номер предложения
                    input(type="text" placeholder='' ).commercial-offer__input.js-input-number
            .commercial-offer__container
                .commercial-offer__item
                    .commercial-offer__label.commercial-offer__label--necessarily ФИО заказчика
                    input(type="text" maxlength="50").commercial-offer__input
                .commercial-offer__item
                    .commercial-offer__label Номер заказчика
                    input(type="text" ).commercial-offer__input.js-phone
            .commercial-offer__container
                .commercial-offer__item
                    .commercial-offer__label.commercial-offer__label--necessarily Дата
                    input(type="text").commercial-offer__input.js-date
                .commercial-offer__item
                    .commercial-offer__label.commercial-offer__label--necessarily ФИО ответственного
                    .select-style
                        select.js-select-fio
                            option ФИО 1
            .commercial-offer__container
                .commercial-offer__item
                    .commercial-offer__label Комментарий
                    textarea.commercial-offer__textarea


            a(href="#").button.commercial-offer__btn Сохранить