<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Главная</title>
<link href="libs.css" rel="stylesheet"><link href="style.css" rel="stylesheet"></head>
<body>
<header class="header">
<div class="container">
	<div class="header__inner"><a class="header__logo" href="#"><img class="logo" src="src/blocks/logo/assets/img/logo.svg"></a>
	<nav class="header__nav">
		<div class="header__links"><a class="header__link header__link--active" href="#">
			<div class="header__link-icon"><img src="src/blocks/header/assets/img/home.svg"></div>Главная</a><a class="header__link" href="#">
			<div class="header__link-icon"><img src="src/blocks/header/assets/img/word.svg"></div>Контракты</a><a class="header__link" href="#">
			<div class="header__link-icon"><img src="src/blocks/header/assets/img/personal.svg"></div>Персонал</a><a class="header__link" href="#">
			<div class="header__link-icon"><img src="src/blocks/header/assets/img/tab.svg"></div>Табель</a><a class="header__link" href="#">
			<div class="header__link-icon"><img src="src/blocks/header/assets/img/dots.svg"></div>Квартиры</a></div>
	</nav>
	<div class="header__user">
		<div class="header__user-info"><a class="header__name" href="#">Имя Фамилия</a>
		<div class="header__position">Суперадмин</div>
		</div><a class="header__user-img" href="#"><img class="header__user-photo" src="src/blocks/header/assets/img/user.png"></a>
		<div class="header__menu-container"><a class="header__menu" href="#"></a>
		<div class="header__menu-list"><a class="header__link header__link--active" href="#">
			<div class="header__link-icon"><img src="src/blocks/header/assets/img/home.svg"></div>Главная</a><a class="header__link" href="#">
			<div class="header__link-icon"><img src="src/blocks/header/assets/img/word.svg"></div>Контракты</a><a class="header__link" href="#">
			<div class="header__link-icon"><img src="src/blocks/header/assets/img/personal.svg"></div>Персонал</a><a class="header__link" href="#">
			<div class="header__link-icon"><img src="src/blocks/header/assets/img/tab.svg"></div>Табель</a><a class="header__link" href="#">
			<div class="header__link-icon"><img src="src/blocks/header/assets/img/dots.svg"></div>Квартиры</a></div>
		</div>
		<div class="header__notification-box">
		<div class="header__notification-icon"></div>
		<div class="header__notification">1</div>
		</div>
	</div>
	</div>
</div>
</header>
<div class="user-panel">
	<div class="container">
		<div class="user-panel__inner">
		<div class="user-panel__title">Дашборд</div>
		<div class="user-panel__select-container">
			<div class="user-panel__input-box">
			<input class="user-panel__input" type="text" placeholder="Я ищу">
			<div class="user-panel__input-icon"><img src="src/blocks/user-panel/assets/img/search.svg"></div>
			</div>
			<div class="user-panel__sort-box user-panel__sort-box-date">
			<select class="user-panel__sort user-panel__sort-date">
				<option>По дате</option>
				<option>123</option>
				<option>123</option>
			</select>
			</div>
		</div>
		</div>
	</div>
</div>
<div class="main">
<div class="container">
	<div class="main__inner">
	<div class="main__item">
		<div class="main__text main__text--mb">Количество сотрудников</div>
		<div class="main__information main__information--border">
		<div class="main__information-icon"><img src="src/blocks/main/assets/img/person.svg"></div>
		<div class="main__information-text">52</div>
		</div>
		<div class="main__box">
		<div class="main__information-small">
			<div class="main__information-icon main__information-icon--center"><img src="src/blocks/main/assets/img/map.svg"></div>
			<div class="main__text main__text--center">В объектах</div>
			<div class="main__information-text-small">25</div>
		</div>
		<div class="main__information-small">
			<div class="main__information-icon main__information-icon--center"><img src="src/blocks/main/assets/img/office.svg"></div>
			<div class="main__text main__text--center">В офисе</div>
			<div class="main__information-text-small">25</div>
		</div>
		</div>
	</div>
	<div class="main__item">
		<div class="main__text main__text--mb">Количество сотрудников</div>
		<div class="main__information">
		<div class="main__information-icon"><img src="src/blocks/main/assets/img/person.svg"></div>
		<div class="main__information-text main__information-text--row">52
			<div class="main__information-amount">1 000 000 руб.</div>
		</div>
		</div>
		<div class="main__text main__text--mb-small">Коммерческие предложения</div>
		<div class="main__information">
		<div class="main__information-icon"><img src="src/blocks/main/assets/img/commercial.svg"></div>
		<div class="main__information-text main__information-text--row">52
			<div class="main__information-amount">1 000 000 руб.</div>
		</div>
		</div>
	</div>
	<div class="main__item">
		<div class="main__text main__text--mb">Перерасход</div>
		<div class="main__information">
		<div class="main__information-icon"><img src="src/blocks/main/assets/img/wallet.svg"></div>
		<div class="main__information-text">50000 руб.</div>
		</div>
		<div class="main__text main__text--mb-small">Перерасход</div>
		<div class="main__information">
		<div class="main__information-icon"><img src="src/blocks/main/assets/img/connection.svg"></div>
		<div class="main__information-text">2</div>
		</div>
	</div>
	</div>
</div>
</div>
<footer class="footer">
<div class="container">
	<div class="footer__inner">
	<div class="footer__rights">
		<div class="footer__text">© 2020</div>
	</div>
	<div class="footer__nav"><a class="footer__link" href="#">Главная</a><a class="footer__link" href="#">Контракты</a><a class="footer__link" href="#">Персонал</a><a class="footer__link" href="#">Табель</a><a class="footer__link" href="#">Другое</a></div><a class="footer__support" href="#">
		<div class="footer__support-icon"></div>Служба поддержки</a>
	</div>
</div>
</footer>
<script src="libs.js"></script><script src="main.js"></script><script src="style.js"></script></body>
</html>